body {
    background-color: #E1BEE7;
  }
  
   h1 {
    color: rgb(187, 141, 181);
    text-align: center;
    font-family: "Gloria Hallelujah";
    font-size: 20px;
  }
  

  iframe {
    position: center;
    margin: auto;
    width: 80%;
    background: #000000;
    border-top-left-radius : 50px;
    border-top-right-radius  : 50px;
    border-bottom-right-radius  : 50px;
    border-bottom-left-radius  : 50px;
    border-radius: 5px solid #000000;
    padding: 10px;
    display: block;
}