body {
    background-color: #E1BEE7;
  }
  
   h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border: 5px solid;
    padding: 5px;
    right: 50%;
    position: 50%;
    border-radius: 50px;
    width: 10% ;
    text-shadow: 2px 2px 5px rgb(118, 0, 141);

  }
  

  iframe {
    position: center;
    margin: auto;
    width: 80%;
    background: #000000;
    border-top-left-radius : 50px;
    border-top-right-radius  : 50px;
    border-bottom-right-radius  : 50px;
    border-bottom-left-radius  : 50px;
    border-radius: 5px solid #000000;
    padding: 10px;
    display: block;
}